@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 226 100% 95%;
		--foreground: 226 5% 10%;
		--card: 226 50% 90%;
		--card-foreground: 226 5% 15%;
		--popover: 226 100% 95%;
		--popover-foreground: 226 100% 10%;
		--primary: 226 51% 34%;
		--primary-foreground: 0 0% 100%;
		--secondary: 226 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 188 30% 85%;
		--muted-foreground: 226 5% 35%;
		--accent: 188 30% 80%;
		--accent-foreground: 226 5% 15%;
		--destructive: 0 100% 33%;
		--destructive-foreground: 226 5% 90%;
		--border: 226 30% 50%;
		--input: 226 30% 33%;
		--ring: 226 51% 34%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 226 50% 10%;
		--foreground: 226 5% 90%;
		--card: 226 50% 10%;
		--card-foreground: 226 5% 90%;
		--popover: 226 50% 5%;
		--popover-foreground: 226 5% 90%;
		--primary: 226 51% 34%;
		--primary-foreground: 0 0% 100%;
		--secondary: 226 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 188 30% 25%;
		--muted-foreground: 226 5% 60%;
		--accent: 188 30% 25%;
		--accent-foreground: 226 5% 90%;
		--destructive: 0 100% 33%;
		--destructive-foreground: 226 5% 90%;
		--border: 226 30% 33%;
		--input: 226 30% 33%;
		--ring: 226 51% 34%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
	}
}
